.fonts {
    color:#0070cc!important;
    font-weight: 200;
}
.appSummary {
    justify-content: center!important;
}
.fontsize {
    font-size: 1.6rem!important;
}
.font1{
    color: #000;
    font-weight: 200!important;
}